<%= (format nil "~a~%" (uiop:read-file-string "./templates/header.html" ) ) %>

<form action="/contacts/<%= (getf (@ contact) :id ) %>/edit" method="post">

      <%= (learn-htmx:apply-template "single-contact.html" (list :title "Edit contact"
          :contact (@ contact )
          :post-location (format nil "contacts/~A/edit" (getf ( @ contact) :id))
          ))
          %>

</form>

<p>
    <a class="basis-1/4 bg-sky-600 hover:bg-fsky-700 px-2 py-1 text-white rounded m-2"
      hx-trigger="click"
       hx-delete="/contacts/<%= (getf (@ contact) :id)%>"
       hx-target="#toppage"
       href="/contacts/<%= (getf (@ contact) :id)%>">Delete Contact</a>
</p>
