<%= (format nil "~a~%" (uiop:read-file-string "./templates/header.html" ) ) %>

<div id="toppage">
  
<h1>Contacts.app </h1>
<h2> A Demo contacts application </h2>

<div id="searchbar">

   <form action="/contacts" method="get" class="tool-bar">
            <label for="search">Search for: </label>
            <input id="search" type="search" name="q" value=""/>
             <button hx-post="/contacts" hx-target="#main-area" hx-include="#search"> 
                Search The Contacts
             </button>
   </form>

</div>

<HR>

<div id="main-area">
  
    <table>
        <thead>
        <tr>
            <th>First</th> <th>Last</th> <th>Phone</th> <th>Email</th> <th></th>
        </tr>
        </thead>
        <tbody>
           <% loop for person in (@ people) do %>
            <tr>
                <td><%= (getf person :first_name) %></td>
                <td><%= (getf person :last_name) %></td>
                <td><%= (getf person :phone) %></td>
                <td><%= (getf person :email) %></td>
                <td>
                  <a hx-target="#main-area"
                     hx-get="/contacts/<%= (getf person :id 0) %>/edit"
                     href="/contacts/<%= (getf person :id 0) %>/edit">
                    Edit</a>
                  <a hx-target="#main-area"
                     hx-get="/contacts/<%= (getf person :id 0) %>"
                     href="/contacts/<%= (getf person :id 0) %>">View</a>
                </td>
            </tr>
              <% end %>
        </tbody>
    </table>
    </div>

      <p>
        <a href="/contacts/new" hx-get="/contacts/new" hx-target="#main-area">Add Contact</a>
      </p>

</div>
</div>
</body>
</html>
