<%= (format nil "~a~%" (uiop:read-file-string "./templates/header.html" ) ) %>

<div id="toppage" class="w-90">  
  <h1 class="my-0 px-10 text-2xl text-right w-20">Contacts.app </h1>

  <div id="searchbar" class="px-10 text-left">

    <form action="/contacts" method="get" class="tool-bar">
      <label for="search">Search for: </label>
      <input class="bg-sky-200 rounded-sm px-2"
             id="search" type="search" name="q" value=""/ >
      <button class="bg-sky-600 hover:bg-fsky-700 px-2 py-0 text-white rounded"
              hx-post="/contacts" hx-target="#main-area" hx-include="#search"> 
        Search Contacts
      </button>
    </form>

  </div>

  <div id="main-area" class="place-content-center px-10 pt-2 w-90">
    <%= (learn-htmx:apply-template "just-contacts.html" (list :people (learn-htmx:get-db) )) %>
  </div>

  <div class="w-90 place-content-center px-10 pt-2 w-90">
  <p class="flex flex-row">
    <a class="basis-1/4 bg-sky-600 hover:bg-fsky-700 px-2 py-1 text-white rounded  m-2"
       href="/contacts/new" hx-get="/contacts/new" hx-target="#main-area">Add new Contact
    </a>
  </p>
  </div>

</body>
</html>
