    <fieldset class="w-full">
        <legend class="text-2xl"><%= (@ title ) %></legend>

        <p class="flex flex-row">
          <label for="email" class="basis-1/4 text-gray-700 text-lg">
            Email
          </label>
            <input
              class="editform form-control basis-auto bg-grey-100"
              name="email"
              id="email"
              type="email"
              placeholder="Email"
              value="<%= (getf (@ contact) :email "") %>">
            <span class="error"><%= (getf (@ errors) :email "") %></span>
        </p>
        <p class="flex flex-row">
            <label for="first_name"
                   class="basis-1/4 text-gray-700 text-lg"
                   >First Name</label>
            <input
              class="editform basis-auto"
              name="first_name"
              id="first_name"
              type="text"
              placeholder="First Name"
              value="<%= (getf (@ contact) :first_name "") %>">
            <span class="error"><%= (getf (@ errors) :first_name "") %></span>
        </p>
        <p class="flex flex-row">
            <label for="last_name"
                   class="basis-1/4 text-gray-700 text-lg">
              Last Name
            </label>
            <input
              class="editform basis-auto"
              name="last_name"
              id="last_name"
              type="text"
              placeholder="Last Name"
              value="<%= (getf (@  contact) :last_name "") %>">
            <span class="error"><%= (getf (@ errors) :last_name "") %></span>
        </p>
        <p class="flex flex-row">
            <label for="phone"
                   class="basis-1/4 text-gray-700 text-lg">
              Phone
            </label>
            <input
              class="editform basis-auto"
              name="phone"
              id="phone"
              type="text"
             placeholder="Phone"
              value="<%= (getf (@ contact ) :phone "") %>">
            <span class="error"><%= (getf (@ errors) :phone "") %></span>

        </p>


        <p class="flex flex-row">

          <a href="/contacts"
             class="basis-1/4 bg-sky-600 hover:bg-fsky-700 px-2 py-1 text-white rounded m-2">
            Back
          </a>

          <a href="<%= (@ post-location )%>"
             class="basis-1/4 bg-sky-600 hover:bg-fsky-700 px-2 py-1 text-white rounded m-2"
             hx-trigger="click"
             hx-post="<%= (@ post-location)%>"
             hx-target="#toppage"
             hx-include=".editform">
            Save
          </a>



        </p>

    </fieldset>
